@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-black: #17171b;
  --color-white: #ffffff;
  --color-bg: rgba(23, 23, 27, 0.8);

  --color-grey-40: #999999;
  --color-grey-20: #cacccc;
  --color-grey-10: #e3e6e6;
  --color-grey-05: #f0f2f5;

  --color-mju-primary: #002968;
  --color-mju-secondary: #0386d0;

  --color-blue-35: #124ca5;
  --color-blue-20: #2f65cb;
  --color-blue-15: #4782da;
  --color-blue-10: #689bde;
  --color-blue-05: #e9f1fb;

  --color-error: #da4747;
}

:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/**
 * 스크롤바를 제거하는 스타일 입니다
 */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/**
 * 검색 결과에서 검색어를 highlight하는 스타일 입니다
 */
.search-result__highlight em {
  background-color: rgba(255, 235, 59, 0.4);
  font-style: normal;
  padding: 0 2px;
  border-radius: 2px;
}
