@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css');
@import 'tailwindcss';

@theme {
  --color-*: initial;

  --color-black: #17171b;
  --color-white: #ffffff;
  --color-bg: rgba(23, 23, 27, 0.8);

  --color-grey-40: #999999;
  --color-grey-20: #cacccc;
  --color-grey-10: #e3e6e6;
  --color-grey-05: #f0f2f5;

  --color-mju-primary: #002968;
  --color-mju-secondary: #0386d0;

  --color-blue-35: #124ca5;
  --color-blue-20: #2f65cb;
  --color-blue-15: #4782da;
  --color-blue-10: #689bde;
  --color-blue-05: #e9f1fb;

  --color-error: #da4747;
}

:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/**
 * typography
 * 그냥 className="text-title02" 이렇게 사용하시면 됩니다
 */
@layer utilities {
  .text-heading01 {
    @apply font-bold text-[2.5rem] leading-[1.5]; /* 40px */
  }
  .text-heading02 {
    @apply font-bold text-[1.75rem] leading-[1.5]; /* 28px */
  }

  .text-title01 {
    @apply font-bold text-[1.25rem] leading-[1.5]; /* 20px */
  }
  .text-title02 {
    @apply font-semibold text-[1.25rem] leading-[1.5]; /* 20px */
  }

  .text-body01 {
    @apply font-normal text-[1.25rem] leading-[1.5]; /* 20px */
  }
  .text-body02 {
    @apply font-semibold text-[1rem] leading-[1.5]; /* 16px */
  }
  .text-body03 {
    @apply font-normal text-[1rem] leading-[1.5]; /* 16px */
  }
  .text-body04 {
    @apply font-semibold text-[0.875rem] leading-[1.5]; /* 14px */
  }
  .text-body05 {
    @apply font-normal text-[0.875rem] leading-[1.5]; /* 14px */
  }

  .text-caption01 {
    @apply font-semibold text-[0.75rem] leading-[1.5]; /* 12px */
  }
  .text-caption02 {
    @apply font-normal text-[0.75rem] leading-[1.5]; /* 12px */
  }
  .text-caption03 {
    @apply font-semibold text-[0.6875rem] leading-[1.5]; /* 11px */
  }
  .text-caption04 {
    @apply font-normal text-[0.6875rem] leading-[1.5]; /* 11px */
  }
  .text-caption05 {
    @apply font-semibold text-[0.625rem] leading-[1.5]; /* 10px */
  }
  .text-caption06 {
    @apply font-extralight text-[0.625rem] leading-[1.5]; /* 10px */
  }
}

/**
 * 스크롤바를 제거하는 스타일 입니다
 */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/**
 * 검색 결과에서 검색어를 highlight하는 스타일 입니다
 */
.search-result__highlight em {
  background-color: rgba(255, 235, 59, 0.4);
  font-style: normal;
  padding: 0 2px;
  border-radius: 2px;
}

/**
 * BlockNote.js가 구동될 때 좌우 padding을 제거합니다
 */
/*
 .bn-editor {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}

.block-editor-handle {
  position: absolute;
  left: auto; 
  right: 0;
  transform: translateX(100%);
} */
